.error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  align-content: center;
  justify-content: center;
}

.error-block-name {
  font-size: 26px;
}

.error-block-link {
  color: #3069a6;
}
